@font-face {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  src:
    local("Anton"),
    local("Anton"),
    url("../fonts/Anton-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Shadows Into Light";
  font-style: normal;
  font-weight: 400;
  src:
    local("Shadows Into Light"),
    local("Shadows Into Light"),
    url("../fonts/ShadowsIntoLight-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "BrunoAce Regular";
  font-style: normal;
  font-weight: 400;
  src:
    local("BrunoAce Regular"),
    local("BrunoAce Regular"),
    url("../fonts/BrunoAce-Regular.ttf") format("truetype");
}

[data-theme="light"] {
  --cloudRed: #d32f2f;
  --neutralLighterAlt: #faf9f8;
  --cardBackground: #fff;
  --border: #d0d4d6;
}

[data-theme="dark"] {
  --cloudRed: #ef5350;
  --neutralLighterAlt: #212121;
  --cardBackground: #424242;
  --border: #1e1e1e;
}

:root {
  --fontColor: #eeba2b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


.red-cloud {
  fill: #d32f2f;
}

.st0 {
  fill: #00576f;
}

.st1 {
  fill: #f49e00;
}

.st2 {
  fill: #ffffff;
}

.header-bar {
  box-shadow: none;
  margin-top: 1px;
  border-bottom: 1px solid var(--border);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(248, 249, 250, 0.7);
}